*{
	font-family: Arial, Helvetica, sans-serif;
	--color-principal: rgb(7, 2, 255);
	--color-secundario: rgb(112, 147, 211);
	--color-contraste: rgb(188, 86, 235);
	--color-luminoso: rgb(240, 248, 255);
	--color-alerta: rgb(240, 128, 128);
}

/*Body*/

body{
	margin: 0px 0px 88px 0px;
}

/*Footer*/

.footer{
	background-color: var(--color-principal);
	padding: 2px;
	text-align: center;
	color: white;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}

.footer a{
	text-decoration: none;
	color: var(--color-secundario);
}

.footer a:hover{
	color: white;
}

/*Menu de navegación*/

.topnav {
	background-color: var(--color-principal);
	overflow: hidden;
}

#navLogo{
	float: left;
	transition: all 0.4s;
	padding: 2px;
}

#navLogo:hover{
	cursor: pointer;
	background-color: var(--color-secundario);
}

#navImg{
	float: right;
	transition: all 0.4s;
	padding: 2px;
}

#navImg:hover{
	cursor: pointer;
	background-color: var(--color-secundario);
}

.topnav a {
	float: left;
	color: white;
	text-align: center;
	padding: 16px;
	text-decoration: none;
	font-size: 17px;
	transition: all 0.4s;
}

.topnav div{
	float: right;
	color: white;
	text-align: center;
	padding: 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav .rightNav{
	float: right;
}

.topnav a:hover {
	background-color: var(--color-secundario);
	color: black;
}

/* Index*/

#index-buttons{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 725px;
}

.centered-title{
	text-align: center;
	color: var(--color-luminoso);
	-webkit-text-stroke-width: 2px;
  	-webkit-text-stroke-color: var(--color-principal);
	text-shadow: -3px 2px 2px var(--color-secundario), 1.5px -1px 2px var(--color-alerta);
}

#index-grid{
	display: grid;
	grid-template-columns: [start] 25% [line2] auto [line3] 25% [end];
  	grid-template-rows: [first-line] 35% [mid-line] auto [last-line];
	margin: 25px;
	gap: 25px;
}

.player,.enemy,.dialogue,.actions{
	border: 7.5px solid var(--color-principal);
	border-radius: 25px;
	padding: 25px;
}

.player{
	grid-column-start: 1;
	grid-column-end: span 1;
	grid-row-start: 1;
	grid-row-end: span 2;
	height: 725px;
}

.enemy{
	grid-column-start: 3;
	grid-column-end: span 1;
	grid-row-start: 1;
	grid-row-end: span 2;
}

.dialogue{
	grid-column-start: 2;
	grid-column-end: span 1;
	grid-row-start: 1;
	grid-row-end: span 1;
}

.actions{
	grid-column-start: 2;
	grid-column-end: span 1;
	grid-row-start: 2;
	grid-row-end: span 1;
}

/* Tabs*/
.tab {
	overflow: hidden;
	border: none;
	background-color: var(--color-secundario);
}
			
/*BotonesTabs */

.tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: all 0.4s;
	font-size: 17px;
}
			

.tab button:hover {
	background-color: var(--color-contraste);
	color: black;
}
			

.tab button.active {
	background-color: var(--color-principal);
	color: white;
}
			
/* ContenidoTabs */

.tabcontent {
	display: none;
	padding: 6px 12px;
	border: none;
	border-top: none;
}

div.grafico{
	max-width: 500px;
	padding: 0px 50px;
}

/*Desplegable ayuda*/

.desplegable {
	background-color: var(--color-secundario);
	color: black;
	cursor: pointer;
	padding: 18px;
	width: 50%;
	min-width: 850px;
	text-align:center;
	border: none;
	outline: none;
	transition: all 0.4s;
	
}


.desplegable.active, .desplegable:hover {
	background-color: var(--color-contraste);
}


.panel {
	width: 50%;
	min-width: 850px;
	padding: 0 18px;
	background-color: white;
	display: none;
	overflow: hidden;
}

/*grid, cajas y botones*/
.grid-container {
    justify-items: center;
	justify-content: center;
	align-items: center;
    row-gap: 10px;
    column-gap: 40px;
    width: 800px;
	margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    
}

.caja{
    color: white;
    background-color:var(--color-principal);
    margin: 10px 0px;
	width: 400px;
	border: none;
	border-radius: 40px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
	cursor: pointer;
	transition: all 0.4s;
}

.caja:hover{
	color: black;
	background-color: var(--color-secundario);
	font-weight: bold;
	font-size: 26px;
	text-align: center;
	text-shadow: 0px 0px 5px var(--color-luminoso);
	box-shadow: 0px 0px 5px var(--color-principal);
}

.boton{
    color: white;
    background-color:var(--color-principal);
    margin: 2px;
	border-radius: 15px;
    text-align: center;
    line-height: 24px;
    font-size: 16px;
	cursor: pointer;
	border: none;
	transition: all 0.4s;
}

.boton:hover{
	color: black;
	background-color: var(--color-secundario);
	text-shadow: 0px 0px 5px var(--color-luminoso);
	box-shadow: 0px 0px 5px var(--color-principal);
	font-weight: bold;
}

.elemento{
	width: fit-content;
	min-width: 500px;
	margin: 10px auto;
	background-color: var(--color-luminoso);
	border: solid 5px;
	border-radius: 40px;
	border-color: var(--color-principal);
	padding: 5px 15px;
}

.botonera{
	width: fit-content;
	margin: 0px auto;
}

#alerta{
	background-color: var(--color-alerta);
	height: 40px;
	visibility: hidden;
	text-align: center;
	padding-top: 8px;

}
.contenido{
	display: none;
	background-color: var(--color-luminoso);
	border: solid 5px;
	border-radius: 40px;
	border-color: var(--color-principal);
	text-align: center;
	padding: 20px;
	margin: 70px 40px 50px 40px;
}
.contenido>h1{
	margin: 0;
}
.ranking{
	display: flex;
	justify-content: center;
	align-content: center;
	margin: 10% 0 35px;
}
.ranking>table{ 
	box-shadow: 10px 10px 10px gray;
	outline:10px solid blue;
	outline-offset: 10px;
	transition: 0.5s all;
}
.ranking>table:hover{ 
	transition: 0.5s all;
	outline:10px solid violet;
	outline-offset: 40px;	
}
.ranking table,th,tr{
	border: 1px solid;
	border-color: rgb(145, 82, 248);
	border-collapse: collapse;
	padding: 20px;
	width: 30%;
}
.ranking table thead{
	color: white;
	background-color:var(--color-principal);
	border-bottom: 5px solid rgb(145, 82, 248);
}
.oro{
	background-color: rgb(248, 235, 158);
}
.plata{
	background-color: rgb(206, 206, 206)
}
.bronce{
	background-color: #ebd7b8;

}
