*{
	font-family: Arial, Helvetica, sans-serif;
	--color-principal: rgb(7, 2, 255);
	--color-secundario: rgb(112, 147, 211);
	--color-contraste: rgb(188, 86, 235);
}

/*Body*/

body{
	margin: 0px 0px 88px 0px;
}

/*Footer*/

.footer{
	background-color: var(--color-principal);
	padding: 2px;
	text-align: center;
	color: white;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}

.footer a{
	text-decoration: none;
	color: var(--color-secundario);
}

.footer a:hover{
	color: white;
}

/*Menu de navegación*/

.topnav {
	background-color: var(--color-principal);
	overflow: hidden;
}

.topnav a {
	float: left;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
  
.topnav a:hover {
	background-color: var(--color-secundario);
	color: black;
}
			
/* Tabs*/
.tab {
	overflow: hidden;
	border: 1px solid var(--color-principal);
	background-color: var(--color-secundario);
}
			
/*BotonesTabs */

.tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	font-size: 17px;
}
			

.tab button:hover {
	background-color: var(--color-principal);
	color: white;
}
			

.tab button.active {
	background-color: var(--color-contraste);
	color: black;
}
			
/* ContenidoTabs */

.tabcontent {
	display: none;
	padding: 6px 12px;
	border: 1px solid var(--color-principal);
	border-top: none;
}

/*Desplegable ayuda*/

.desplegable {
	background-color: var(--color-secundario);
	color: black;
	cursor: pointer;
	padding: 18px;
	width: 50%;
	margin-left: 25%;
	text-align:center;
	border: none;
	outline: none;
	transition: 0.4s;
}
  

.desplegable.active, .desplegable:hover {
	background-color: var(--color-contraste);
}
  
  
.panel {
	padding: 0 18px;
	background-color: white;
	display: none;
	margin-left: 25%;
	overflow: hidden;
}


.stats{
	text-align: center;
	width: 650px;
	position: relative;
	margin-left: auto !important;
	margin-right: auto !important;
	margin-top: 5px;
}

.jStats,
.eStats {
	text-align: left;
}

.jugador,
.enemigo,
.combate {
    background: white;
    height: auto !important;
    width: 630px;
    position: relative;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px black solid;
    padding: 0 45px 45px 45px;
}
.grid-container {
    
    row-gap: 10px;
    column-gap: 40px;
    width: 800px;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    
}
  
.caja{
    color: white;
    background-color:var(--color-principal);
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
	cursor: pointer;
}
